<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409165337890-testoftfm7d0a710psqm6qi7bkoc189p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409165337890-testoftfm7d0a710psqm6qi7bkoc189p</string>
	<key>API_KEY</key>
	<string>AIzaSyAgR_CVXasgk4rgauvWbamFQeQd1QhcJNw</string>
	<key>GCM_SENDER_ID</key>
	<string>409165337890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.ivision.invoicesIVISION</string>
	<key>PROJECT_ID</key>
	<string>invoicesivision</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicesivision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409165337890:ios:7501ac0bc4500afc51417b</string>
</dict>
</plist>